Source: com.github.bartzaalberg.sudokular
Section: game
Priority: optional
Maintainer: Bart Zaalberg <bartzaalberg@gmail.com>
Standards-Version: 3.9.3
Build-Depends: meson,
               debhelper (>= 9),
               libgtk-3-dev,
               libgranite-dev (>= 0.3.0),
               valac (>= 0.16)

Package: com.github.bartzaalberg.sudokular
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, qqwing
Description: The number that is alone
