[Desktop Entry]
Type=Application
Name=Sudoku
Comment=The number that is alone
GenericName=Sudoku
TryExec=com.github.bartzaalberg.sudoku
Exec=com.github.bartzaalberg.sudoku
Icon=com.github.bartzaalberg.sudoku
Terminal=false
Categories=Game;
Keywords=game;videogame;video game;player;sudoku;
